.header{
    -fx-background-color:linear-gradient(to bottom left, #83b4e9, #f76bc2)
}

.footer{
    -fx-background-color:linear-gradient(to bottom left, #83b4e9, #f76bc2)
}

.heading{
    -fx-font-size: 60px;
    -fx-font-weight: bolder;
    -fx-font-family: Georgia, 'Times New Roman', Times, serif;
}

.left-container{
    -fx-font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    -fx-font-size: 22px;
}

.label1{
    -fx-text-fill:#83b4e9;
    -fx-font-size: 22px;
}

.tf1{
    -fx-border-radius: 10px;
}

.profile-name{
    -fx-font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    -fx-text-fill:#83b4e9;
    -fx-font-weight: bolder;
    -fx-font-size: 25px;
}

.exit-button{
    -fx-background-color: #f44336;
    -fx-border-radius: 5px;
    -fx-padding: 10px 25px;
    -fx-font-family: Arial, Helvetica, sans-serif;
    
}

.edit-button{
    -fx-background-color: #008CBA;
    -fx-border-radius: 5px;
    -fx-padding: 10px 25px;
    -fx-font-family: Arial, Helvetica, sans-serif;
    -fx-cursor:hand;
    
}

.edit-button:hover{
    -fx-opacity: 0.8;
}

.exit-button:hover{
    -fx-opacity: 0.8;
}